textarea {
    width:100%;
    display: block;
    overflow-x: hidden;
}


ul {
    list-style-type:none;
}

.starredLangDel {
    float: right;
    opacity: 0;
}

div.cStarredLang:hover .starredLangDel {
    opacity: 1;
} 

