body {
    font-family: tahoma,arial,sans-serif;
    font-size: 100%;
}

#inputOutputDiv {
    float:left; width:60%;
}

#controlsDiv {
    float:left; ;
    margin-left:12px;
}

#cStarredLanguages {
    margin-bottom:12px;
}

textarea {
    width: 100%;
    display: block;
    overflow-x: hidden;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#starredLanguages {
    margin-bottom: 0.5em;
}

.starredLangDel {
    float: right;
    opacity: 0;
}

.starredLangSelected {
    font-weight: bold;
}

#btnAddStarredLang {
    font-size: 90%;
}

div.cStarredLang:hover .starredLangDel {
    opacity: 1;
} 

#targetLangName {
    font-color: bold;
}

#btnOptions {
    font-size: 80%;
}

#cOptions {
    border: 1px solid #dddddd;
    -moz-border-radius: 3px;
    padding: 5px;
}

#creditsDiv {
    padding-bottom:6px;
    padding-right:12px;
    display:block;
    /*set the div in the bottom right corner*/
    position:absolute;
    bottom:0;
    right:0;
    color: #cccccc;
    font-size:90%; 
}

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }


