body {
   font-family: tahoma,arial,sans-serif;
   font-size: 100%;
}

textarea {
    width: 100%;
    display: block;
    overflow-x: hidden;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#starredLanguages {
    margin-bottom: 0.5em;
}

#cStarredLanguages {
    padding: 0.5em /*vert*/ 0.5em /*horiz*/;
}

.starredLangDel {
    float: right;
    opacity: 0;
}

#btnAddStarredLang {
    font-size: 90%;
}

div.cStarredLang:hover .starredLangDel {
    opacity: 1;
} 

#targetLangName {
    font-color: bold;
}

#cOptions {
    border: 1px solid #dddddd;
    -moz-border-radius: 3px;
    padding: 5px;
}

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }


