body {
   font-family: tahoma,arial,sans-serif;
   font-size: 100%;
}

textarea {
    width: 100%;
    display: block;
    overflow-x: hidden;
}


ul {
    list-style-type: none;
    padding-left: 0.5em;
}

.starredLangDel {
    float: right;
    opacity: 0;
}

div.cStarredLang:hover .starredLangDel {
    opacity: 1;
} 

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }


